body {
  font-family: 'Montserrat', sans-serif;
  text-align:center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: bold;
}


p {
  color: #8f8f8f;
  font-size: 0.8rem;
}


#title {
  background-color: #ff4c68;
  color: white;
  text-align: center;

}


.container-fluid {
  padding: 3% 15% 7%;
}
.colored-section{
background-color:#ff4c68;
color:white;

}
.white-section{
background-color:#fff;
}
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
}

/* Navigation Bar */
.navbar-brand {
  font-size: 2.5rem;
  font-family: "Ubuntu";
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  font-size: 1.1rem;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

/* Download Buttons */

.btn-download {
  margin: 5% 3% 5% 0;
}

/* Title Images */
.iphone-img {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 27%;
}

/* Features Section */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 2rem;
}


/* Features Icons */
.features-icons {
  color: #ef8172;
  padding-bottom: 1.5rem;

}

.features-icons:hover {
  color: #ff4c68;
}

.feature-title {
  font-size: 1.5rem;
}

/* ! Testimonals Section */

#testimonials {
  background-color: #ef8172;
 
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;

}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;

}

.pricing-header {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-title {
  font-size: 1.5rem;
}

/* CTA Section */

#cta {
  background-color: #ff4c68;
  padding: 3% 20%;
}
.container-fluid#cta-heading{
  padding: 3% 0;

}


.btn-download-cta {
  margin: 3% 2% 6% 0;
}

/* Footer Section */

#footer {
  background-color: #fff;
  padding: 7% 15%;
}

.net-icons {
  color: black;
}
.list-inline-item:hover{
  color:#ff4c68;
}
.p-copy {
  color: black;
}

/* Media Quereis */
@media (max-width: 1028px) {
  .iphone-img {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}